:root {
    --btn-background: #f9c06a;
    --btn-paddings: 14px 26px;
    --btn-color: #1e1e1e;
    --btn-radius: 24px;

    --line-height: 34px ;
    --color-light: white;
    --color-dark: #707070;

    --font-family-logo: "Clicker Script", cursive; 
}

body {
    font-family: "Playfair Display", serif;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    /* border: 2px solid yellow; */
    max-width: 1180px;
    margin: 0 auto;
}
header {
    background-image: url(img/coffee_image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header .logo {
  font-family: var(--font-family-logo);
  font-weight: 400;
  font-style: normal;
  margin-right: 245px;
  font-size: 35px;
  border: 1px solid red;
   
}
header a {
    color: var(--color-light);
}
header nav {
    /* border: 1px solid red; */
    font-size: 14px;
    font-weight: 600;
}
header ul {
      border: 1px solid red;
      display: inline-block;
      margin-right: 200px;
}
header ul li {
    display: inline-block;
    margin-right: 60px;  
}
header ul a,
.singin-btn {
    transition: 0.3s;
}
header ul a:hover,
.signup-btn:hover {
    opacity: 0.8;
}
header ul li:last-child{
    margin: 0;
}

header .login {
    border: 1px solid red;
    display: inline-block;
}

.hero {
    border: 1px solid red;
   
}
.signin-btn {
    margin-right: 35px;
    text-decoration: underline;
}
.signup-btn {
    color: #1e1e1e;
    display:inline-block;
    background-color: var(--btn-background);
    border-radius: var(--btn-radius);
    padding: var(--btn-paddings);
    transition: 0.3s;
}

.btn-hover:hover {
    box-shadow: 0 0 10px 2px #666;
}

.hero {
    width: 585px;
    padding-top: 116px;
    padding-bottom: 95px;
}

.hero .label,
.hero .description {
    color: var(--color-light);
    font-size: 22px;

}
.hero .title {
    color: var(--color-light);
    font-size: 220px;
    font-family: var(--font-family-logo);
}

.hero .description {
    line-height: var(--line-height);
}

.order-btn {
    background-color: var(--btn-background);
    padding: var(--btn-paddings);
    color: var(--btn-color);
    border-radius: var(--btn-radius);
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}